<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLAyer.Properties.Settings.DbEmployeeConnectionString"
            connectionString="Data Source=DESKTOP-PJIG1NN;Initial Catalog=DbEmployee;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>